#logo {
	color:#9fa0a9;
	font-family: 'Open Sans', sans-serif;
}
.logo {
	font-size: 2em;
	color:white;
}
.navbar {
	min-height: 80px;
}
.navbar-brand {
	padding: 0 15px; 
	height: 80px; 
	line-height: 80px;
}
.navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
    font-size: 1.4em;
}
.navbar-nav > li > p {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
    font-size: 1.4em;
}
.navbar-brand {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
}
.navbar-nav > li > input {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;
    border-radius:0px;
}

.navbar {
     background-color: #303f4d;

}
body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	background: url('images/back.png');

}
.landing {
	text-align: center;
	//background-color: rgba(0, 0, 0, 0.5);
	margin-top: 100px;
	width: 100%;
}
.landing h3{
	font-size: 6em;
}
.landing p{
	font-size: 2em;
	color: white;
}
#white {
	color:white; !important
}
.landing-top {
	padding-top: 200px;
	height:100%;
}
.background-col {
	background-color: rgba(0, 0, 0, 0.5);
}

.photos {
	//margin-top:14px;
	height: 1130px;
	text-align: center;
	background-color: rgba(245, 245, 245, 1);
	width: 100%;
}

.features {
	height: 941px;
	text-align: center;
	background-color: rgba(245, 245, 245, 1);
}

.stats {
	height: 100%;
	text-align: center;
	background-color: white;
	padding-top: 100px;

}
#popup {
	width: 400px;
	color: #303f4d;
	display: none;
	z-index: -5;
}
.jqplot-series-canvas{
	background-color: rgba(245, 245, 245, 1);
	margin:auto;
}
.jqplot-event-canvas{
	margin:auto;
}
.jqplot-base-canvas{
	margin:auto;
}
.middle {
	margin: auto;
}
.row1 {
	height: 213px;
}
.row3 {
	height: 153px;
}
.background2 {
	background-color: rgba(77, 77, 77, .7);
	height:100%;
}

.table td {
   text-align: center;   
}