body {
    margin: 0 ;
    right: 0; bottom: 0;padding:0px;
    background-color:black;
}
video {
position: relative; 
right: 0; 
bottom: 0;
padding:0px;
min-width: 100%; 
min-height: 100%;
width: auto; 
height: auto;
z-index: -1;

}

text {

position:absolute;

z-index:1;
}
